form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  // border: 1px solid rgba(128, 128, 128, 0.435);
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  p {
    text-align: left;
  }
  button {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  input[type="radio"] {
    margin-right: 1rem;
    background: red;
  }
  label {
    color: green;
  }

  input,
  select {
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
  }
}
